@tailwind base;
@tailwind components;
@tailwind utilities;






body {
    background-color: #0a0a0af6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    width: 60%;
    margin: auto;
}